{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Есть
      </li>
      <li class="list-group-item">
        Спать
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
          <h5 class="card-title">Все что умею ищите на моем гитхубе.</h5>
          <a href="https://github.com/DeLaMia" class="btn btn-primary">Переход куда-нибудь</a>
      </div>
    </div>
  </article>
  <div class="d-flex align-items-center">
    <strong>Думаю что еще бы вставить, но не придумал...</strong>
    <div class="spinner-border text-right" role="status" aria-hidden="true"></div>
  </div>
</div>
{% endblock %} 